mule-project/src/main/mule/mac-file-reader.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ms-vectors="http://www.mulesoft.org/schema/mule/ms-vectors" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/ms-vectors http://www.mulesoft.org/schema/mule/ms-vectors/current/mule-ms-vectors.xsd http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="mac-file-reader-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="mac-file-reader-config" api="resource::your-org-id:mac-file-reader:1.0.0:raml:zip:mac-file-reader.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <ms-vectors:config name="MuleSoft_Vectors_Connector_Config" doc:name="MuleSoft Vectors Connector Config" doc:id="14c92cd7-e040-4634-9bb8-04a26539f756">
        <ms-vectors:embedding-model-service>
            <ms-vectors:einstein salesforceOrgUrl="your-sf-org-url" clientId="sf-connectedapp-clientid" clientSecret="sf-connectedapp-clientsecret" />
        </ms-vectors:embedding-model-service>
        <ms-vectors:vector-store>
            <ms-vectors:chroma url="localhost:8000" />
        </ms-vectors:vector-store>
    </ms-vectors:config>
    <file:config name="File_Config" doc:name="File Config" doc:id="4333d39a-0253-4d3b-86f1-c9f168b0920e" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1ac8c8d2-c885-43a8-a30e-96d7a21e789a">
        <http:request-connection host="#[vars.uri.host]" />
    </http:request-config>
    <http:request-config name="HTTPS_Request_configuration" doc:name="HTTP Request configuration" doc:id="88a2acf4-445a-4dbb-afaf-c7cb132cb9ea">
        <http:request-connection host="#[vars.uri.host]" protocol="HTTPS" />
    </http:request-config>
    <flow name="mac-file-reader-main">
        <http:listener config-ref="mac-file-reader-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mac-file-reader-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mac-file-reader-console">
        <http:listener config-ref="mac-file-reader-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mac-file-reader-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\reader\url:text\plain:mac-file-reader-config">
        <ee:transform doc:name="Transform Message" doc:id="533db0b0-a059-4170-82a1-c1ab13172465">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="uri"><![CDATA[%dw 2.0
output application/json
import substringAfter, substringBefore, substringBeforeLast from dw::core::Strings
var host = (payload substringAfter "://") substringBefore "/"
var path = ((payload substringAfter host) substringBeforeLast "/") ++ "/"
---
{
    protocol: lower(payload substringBefore ":"),
    host: host,
    path: path,
    fileName: (payload substringAfter path)
}]]></ee:set-variable>
                <ee:set-variable variableName="workingDir"><![CDATA[%dw 2.0
output application/json
---
(mule.home default "") ++ "/apps/" ++ (app.name default "")]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <choice doc:name="Choice" doc:id="d3934daf-b5c0-4546-94a9-c9dcd8e2ef89">
            <when expression="#[&quot;https&quot; == vars.uri.protocol]">
                <http:request method="GET" doc:name="Request" doc:id="9a407153-2627-4cf9-a776-4078ec1b237a" config-ref="HTTPS_Request_configuration" path="#[vars.uri.path ++ vars.uri.fileName]" />
            </when>
            <otherwise>
                <http:request method="GET" doc:name="Request" doc:id="42240506-b8d5-4417-8e95-842106ea7d53" config-ref="HTTP_Request_configuration" path="#[vars.uri.path ++ vars.uri.fileName]" />
            </otherwise>
        </choice>
        <file:write doc:name="Write" doc:id="ec1fead7-0437-4088-8ffb-fb8cf00845c1" config-ref="File_Config" path="#[vars.workingDir ++ vars.uri.fileName]" />
        <ms-vectors:document-parser doc:name="Document parser" doc:id="0bd74ed0-6448-4ff2-bb5d-4ecc99361534" config-ref="MuleSoft_Vectors_Connector_Config" fileType="any" contextPath="#[vars.uri.fileName]">
            <ms-vectors:storage>
                <ms-vectors:local workingDirecotry="#[vars.workingDir]" />
            </ms-vectors:storage>
        </ms-vectors:document-parser>
        <ee:transform doc:name="Transform Message" doc:id="2add1957-ebe5-468d-b081-3d6d789f074e">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
payload.text]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
